.con_0105 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-color: var(--white);
    column-gap: 120px;
}

.image--0105 {
    width: 35%;
    object-fit: contain;

}

.but--0105 {
    background-color: var(--orange);
    color: var(--white);
    width: 23rem;
    height: 5.4rem;
    border: 0;
    border-radius: 9px;
    cursor: pointer;
    opacity: 0.99;
    font-size: inherit;

}

.but--0105:hover {
    opacity: 0.89;
}


.h2--0105 {
    font-weight: bold;
    color: var(--black);

}

.p--0105 {
    font-size: 1.7rem;
    font-weight: inherit;
    line-height: 3rem;
    color: var(--gray5);
    text-align: justify;
    width: 500px;

}

.con_0105--text {
    margin-top: -4rem;
}

@media screen and (max-width: 1024px) {

    .p--0105 {
        width: 350px;
    }

    .image--0105 {
        width: 38%;
        margin: 3rem 2rem;
    }

    .con_0105 {
        column-gap: 70px;
    }
}

@media screen and (max-width: 768px) {
    .con_0105 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;

    }

    .con_0105--text {
        margin: 2.5rem 2.5rem 8rem 0;
    }

    .p--0105 {
        margin-left: auto;
        font-size: 14px !important;
        width: 88%;
    }

    .image--0105 {
        width: 88%;
        display: flex;
    }

    .h2--0105 {
        font-size: 2.1rem;
        font-weight: bold;
    }

}