.header{
    background-image: url("../../files/images/banner.webp");
    background-repeat: no-repeat;
    background-size:cover;
    height:calc(100vh - 61px - 220px);
    width: 100vw;
}
.mobile-img{
width:36vw;
    float: left;
   padding: 10vw;

}
.header #clear{
    clear: both;
}
/*--------------------------------setting for small screen--------------------------*/

@media (max-width: 1100px) {
    .mobile-img{
        display: none;
    }

}
@media (max-width: 760px) {
    .header {
        background-image: url("../../files/images/banner-mobile.webp")!important;
        height:478px;
    }
}

