/*=============== main style ================*/

nav{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
    background-color: #f8f8f8;
    position: fixed;
    border-bottom: 0.1rem solid #ddd;
    z-index: 10000;
    align-items: center;
}

.navBar {
    display: block;
    width: 80vw;
}

a.navbar-brand {
    display: block;
    float: right;
    margin: 1.5rem 0 0 8rem;
}
  svg:hover .path1{
    fill: #ff5722;
  }
  svg:hover .path2{
    fill: #000;
  }
.menuContainer{
    display: flex;
    justify-content: left;
}
.menuContainer dl{
    display: flex;
    flex-direction: row;
    column-gap: 2vw ;
    align-items: center;
    justify-content: space-around;
}
.menuContainer dl dt a{
    text-decoration: none;
    color: #545454;
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
}

#downloadTapsiLink{
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ff5722;
    padding: 0.7rem 4rem;
    margin-right: 1.5vw;
    display: block;
    border-radius: 0.5vw;
    line-height: 3rem;
}

.menuContainer dl dt:hover{
    color: #ff5722;
}
#downloadTapsiLink:hover{
transform: scale(.98);
}