.line{
    width: 80vw;
    border-top: 1px solid var(--gray1);
    margin: auto;
}
#tap30-services{
    width: 80vw;
    margin: auto;

}
.tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.tab p{
    font-size: 1.6rem;
    font-weight: 400;
}

.tab div{
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
.tab-links{
    max-width: 95px;
    filter: opacity(50%);
}
.tab-links:hover{
    filter: opacity(100%);
}
.active{
    filter: opacity(100%);
}
#cc-motopeyk, #cc-autopeyk, #cc-plus, #cc-tel, #cc-hamyar, #cc-hamkhat, #cc-taxi, #cc-line {
    display: none;
}

.tab-content {
    height: 500px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.tab-content div {
    width: 45%;
}
.tab-content img {
    width:90%;
    margin: 40px 0 ;
}


@media (max-width: 770px) {
    .tab-content h3{
        font-size: 16px;
        font-weight: 700;
    }
    .tab-content p{
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
    }
    .tab-content img{
        display: none;
    }
    .tab-content div:first-of-type {
        width: 100%;
    }
    .tab-content {
        flex-direction: column;
    }

}

