* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

.footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: right;
}

.footer a {
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    color: var(--orange);
}

.footer h3{
    font-size: 12px;
}

.footer h6{
    font-size: 20px;
    margin-bottom: 10px;
    cursor: text;
}
.footer p{
    font-size: 14px;
}

.footer__content--logo img {
    width: 130px;
    margin: 10px 0;
}
.footer__copyRightL{
    display: none;
}
.footer__content--cul {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    line-height: 30px;
}

.footer__content--trustLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__content--trustLogo div {
    background-color: var(--white);
    border-radius: 12px;
    padding: 7px 2px;
}

.footer__content--trustLogo img {
    width: 120px;
    height: 125px;
}

.footer__copyRightM {
    padding: 20px 0;
    color: var(--gray1);
    display: block;
}
.footer__socialMediaT{
    display: none;
}
.footer__socialMedia {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer__socialMedia a i{
    color: var(--gray1);
    font-size: 25px;
}

.footer__socialMedia a i:hover {
    color: var(--orange);
}

@media only screen and (min-width: 765px) and (max-width: 1440px){
    .footer{
        padding: 80px 40px;
    }
    .footer p{
        font-size: 12px;
    }
    .footer__content{
        display: flex;
        flex-direction: row;
    }
    .footer__content--logo{
        width: 15%;
        line-height: 30px;
    }
    .footer__copyRightL{
        display: block;
        width: 71%;
    }
    .footer__content--cul{
        width: 15%;
        margin-top: 0;
    }
    .footer__content--trustLogo{
        width: 20%;
    }
    .footer__content--trustLogo div {
        display: flex;
        align-items: center;
        margin: 0 5px;
    }
    .footer__content--trustLogo img {
        width: 87px;
        height: 91px;
    }
    .footer__copyRightM{
        display: none;
    }
    .footer__socialMediaT{
        display: block;
        margin: 10px 0;
    }
    .footer__socialMedia{
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
}