
.footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: right;
    box-sizing: border-box;
    direction: rtl;

}

.footer a {
    font-size: 1.4rem;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    color: var(--orange);
}

.footer h3{
    font-size: 1.2rem;
}

.footer h6{
    font-size: 2rem;
    margin-bottom: 10px;
    cursor: text;
}
.footer p{
    font-size: 1.4rem;
}

.footer__content--logo img {
    width: 13rem;
    margin: 10px 0;
}
.footer__copyRightL{
    display: none;
}
.footer__content--cul {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    line-height: 30px;
}

.footer__content--trustLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.2rem;
}

.footer__content--trustLogo div {
    background-color: var(--white);
    border-radius: 12px;
    padding: 1rem 0;
}

.footer__content--trustLogo img {
    width: 9.9rem;
}

.footer__copyRightM {
    padding: 20px 0;
    color: var(--gray1);
    display: block;
}
.footer__socialMediaT{
    display: none;
}
.footer__socialMedia {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer__socialMedia a i{
    color: var(--gray1);
    font-size: 2.5rem;
}

.footer__socialMedia a i:hover {
    color: var(--orange);
}

@media only screen and (min-width: 1023px){
    .footer{
        padding: 80px 20px;
        align-items: center;
    }
    .footer p{
        font-size: 1.2rem;
    }
    .footer__content{
        display: flex;
        flex-direction: row;
    }
    .footer__content--logo{
        width: 16%;
        line-height: 30px;
    }
    .footer__copyRightL{
        display: block;
        width: 71%;
    }
    .footer__content--cul{
        width: 14%;
        margin-top: 0;
    }
    .footer__content--trustLogo{
        width: 20%;
    }
    .footer__content--trustLogo div {
        display: flex;
        align-items: center;
        margin: 0 5px;
    }
    .footer__content--trustLogo img {
        width: 8.5rem;
    }
    .footer__copyRightM{
        display: none;
    }
    .footer__socialMediaT{
        display: block;
        margin: 10px 0;
    }
    .footer__socialMedia{
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
}
@media only screen and (min-width: 2559px){
    .footer{
        align-items: center;
    }
    .footer__content--trustLogo img {
        width: 16rem;
    }
}